<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>World's news</ion-title>
    </ion-toolbar>
    <ion-toolbar color="secondary">
        <ion-searchbar color="secondary"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-card *ngFor="let newData of articles">
        <ion-img [src]="newData.urlToImage"></ion-img>
        <ion-card-header>
            <ion-card-title>{{ newData.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{ newData.content }} <br>
            {{ newData.author }} <br>
            {{ newData.publishedAt }} <br>
            
        </ion-card-content>
    </ion-card>

</ion-content>