<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card
    [routerLink]="['/tabs/tab3',activity.id]"
    button
    *ngFor="let activity of (activityList | async )"
  >
    <ion-img [src]="activity.src"></ion-img>
    <ion-card-header class="tete">
      <ion-card-title>{{activity.name}}</ion-card-title>
      <ion-label
        >{{activity.like}} <ion-icon name="heart-sharp"></ion-icon
      ></ion-label>
    </ion-card-header>
  </ion-card>
</ion-content>
